@model IEnumerable<MOVIE_BOOKING_CORE.Models.MovieTicket>
@inject SignInManager<AppUser> signInManager;

@{
    ViewData["Title"] = "Index";
}

<h1>All Movies</h1>

@if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
{
    <p class="mb-5">
        <a asp-action="ViewBookings" class="btn btn-outline-primary" asp-controller="Account">View Bookings</a>        
    </p>
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-deck">
            @foreach (var movie in Model)
            {
                var photoPath = "~/images/" + movie.MoviePoster;

                <div class="col-sm-4">
                    <div class="card m-3">
                        <div class="card-header">
                            <h3 class="text-center">@movie.MovieName</h3>
                        </div>
                        <img class="card-img-top" src=@photoPath alt="Alternate Text" asp-append-version="true" />
                        <div class="card-footer text-center">
                            <a asp-controller="MovieTicket" asp-action="details" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>