@model TicketDetailsViewModel

@{
        ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovieBooking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" asp-controller="MovieBooking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ticketNo" class="control-label"></label>
                <input asp-for="ticketNo" class="form-control" />
                <span asp-validation-for="ticketNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="showTime" class="control-label"></label>
                <select asp-validation-for="showTime" class="form-control" asp-for="showTime" asp-items="ViewBag.showTimeList"></select>
            </div>

            <div class="form-group">
                <label asp-for="ticketType" class="control-label"></label>
                <select asp-for="ticketType" asp-validation-for="ticketType" class="form-control" asp-items="ViewBag.ticketTypeList"></select>
            </div>

            <div class="form-group">
                <label asp-for="showDate" class="control-label"></label>
                <select asp-for="showDate" asp-validation-for="ticketType" class="form-control" asp-items="ViewBag.showDatesList"></select>
            </div>


            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary"> Book </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
